/*-- scss:defaults --*/
$body-bg: #FFFFFF; 
$body-color: #000000; 
$primary: #000000; 
$link-color: #0000FF;
$font-family-sans-serif: 'Courier New', Courier, monospace;

/*-- scss:rules --*/
body {
  background-color: $body-bg;
  color: $body-color;
  font-family: $font-family-sans-serif;
  border: 4px solid $primary;
  padding: 20px;
  box-shadow: 10px 10px 0px $primary;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-transform: uppercase;
}

a {
  color: $link-color;
  text-decoration: underline;
  font-weight: bold;
  &:hover {
    background-color: #FFFF00;
    color: #000000;
  }
}

.btn-primary {
    background-color: $primary;
    border: 2px solid $primary;
    color: $body-bg;
    box-shadow: 5px 5px 0px darken($primary, 10%);
    transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
    background-color: darken($primary, 10%);
    box-shadow: 2px 2px 0px darken($primary, 10%);
    transform: translate(3px, 3px);
}

