pandas
numpy
numpy-financial
ipykernel
nbformat
matplotlib
seaborn
plotly
PyYAML
# Jupyter ecosystem for Quarto
jupyter
nbclient
jupyter-client
jupyter-core
traitlets
notebook
nbconvert
ipywidgets
jupyterlab
pyairtable
python-dotenv
tabulate
PyYAML
